<footer>

	<div class="footerFn">
		<% for(var i in fnBtns ) {%>
		<div class="fnBtn"><span><%= fnBtns[i]['fn'] %></span><%= fnBtns[i]['text'] %></div>
		<% } %>
	</div>
	<!-- <div class="footerText">xxxxxxxxx</div> -->
	<div class="noticeText">
		<span>
			<%= noticeText %>
		</span>
	</div>
</footer>