<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>配車業務 - 配車処理 - 配車計画</title>
	<link type="text/css" rel="stylesheet" href="./stylesheets/sanitize.css">
	<link type="text/css" rel="stylesheet" href="./stylesheets/style.css">
	<script src="./js/menuBar.js"></script>
</head>

<body class="body">
	<%- include('./header') %>

	<div class="mainwrapper">



	</div><!-- /mainwrapper -->

	<%- include('./footer') %>
</body>

</html>