<header>

	<div class="menuBar">

		<form name="backMainMenuForm" method="POST" action="../../../../../../"></form>
		<% for(var i in menuBarBtns ) {%>
		<div class="menuBarBtn"><%= menuBarBtns[i] %></div>
		<% } %>
	</div>

</header>