<div class="mainMenu">
	<div class="menuBtns">
		<div class="menuBtn active"><img src="./images/folder.png"><br>仕入業務</div>
		<div class="menuBtn"><img src="./images/folder.png"><br>配車業務</div>
		<div class="menuBtn"><img src="./images/folder.png"><br>日報業務</div>
		<div class="menuBtn"><img src="./images/folder.png"><br>計量業務</div>
		<div class="menuBtn"><img src="./images/folder.png"><br>仕切業務</div>
		<div class="menuBtn"><img src="./images/folder.png"><br>支払業務</div>
		<div class="menuBtn"><img src="./images/folder.png"><br>入出庫業務</div>
		<form method="POST" action="./" id="nextMenuForm">
			<input type="hidden" name="menuTab" value="1">
			<div class="nextMenuBtn" id="nextMenuBtn"><br><img src="./images/right.png"></div>
		</form>
	</div>

	<div class="menuName">
		<h2 class="menuTitle showTitle1">仕入配車管理システム　仕入業務　―　仕入業務</h2>
		<h2 class="menuTitle">仕入配車管理システム　配車業務　―　配車業務</h2>
		<h2 class="menuTitle">仕入配車管理システム　日報業務　―　日報業務</h2>
		<h2 class="menuTitle">仕入配車管理システム　計量業務　―　計量業務</h2>
		<h2 class="menuTitle">仕入配車管理システム　仕切業務　―　仕切業務</h2>
		<h2 class="menuTitle">仕入配車管理システム　支払業務　―　支払業務</h2>
		<h2 class="menuTitle">仕入配車管理システム　入出庫業務　―　入出庫業務</h2>
	</div><!-- /menuName -->

	<div class="mainMenuItem">

		<div class="mainMenuItem1 showTitle2">
			<h3><img src="./images/file2.png">仕入業務</h3>
		</div><!-- /mainMenuItem1 -->
		<div class="mainMenuItem1">
			<h3><img src="./images/file2.png">配車業務</h3>
		</div><!-- /mainMenuItem1 -->
		<div class="mainMenuItem1">
			<h3><img src="./images/file2.png">日報業務</h3>
		</div><!-- /mainMenuItem1 -->
		<div class="mainMenuItem1">
			<h3><img src="./images/file2.png">計量業務</h3>
		</div><!-- /mainMenuItem1 -->
		<div class="mainMenuItem1">
			<h3><img src="./images/file2.png">仕切業務</h3>
		</div><!-- /mainMenuItem1 -->
		<div class="mainMenuItem1">
			<h3><img src="./images/file2.png">支払業務</h3>
		</div><!-- /mainMenuItem1 -->
		<div class="mainMenuItem1">
			<h3><img src="./images/file2.png">入出庫業務</h3>
		</div><!-- /mainMenuItem1 -->

		<div class="mainMenuItem2 show">
			<div class="mainMenuItem3">
				<div class="menu3Btn" name="siire"><img src="./images/pc.png">仕入明細入力</div>
				<div class="menuBlank"></div>
				<br>
				<div class="menuBlank"></div>
				<div class="menuBlank"></div>
				<div class="menuBlank"></div>
				<div class="menuBlank"></div>
				<br>
				<div class="menu3Btn" name="genbaMaster"><img src="./images/pc.png">現場マスター保守</div>
			</div>
			<div class="mainMenuItem3">
				<div class="menu3Btn" name="siireList"><img src="./images/book.png">仕入明細リスト</div>
				<div class="menu3Btn"><img src="./images/book.png">仕入明細票</div>
				<br>
				<div class="menu3Btn"><img src="./images/book.png">リサイクル化証明書</div>
				<div class="menu3Btn"><img src="./images/book.png">木製ドラムリサイクル化証明書</div>
				<div class="menu3Btn"><img src="./images/book.png">マニフェスト</div>
				<div class="menu3Btn"><img src="./images/book.png">建築系廃棄物マニフェスト</div>
				<br>
				<div class="menu3Btn"><img src="./images/book.png">仕入明細票</div>
			</div>
			<div class="mainMenuItem3">
				<div class="menu3Btn"><img src="./images/pc.png">定期便</div>
			</div>
		</div><!-- /mainMenuItem2 -->
		<div class="mainMenuItem2">
			<div class="mainMenuItem3">
				<div class="menu3Btn" name="haisyaCalender"><img src="./images/pc.png">配車処理</div>
				<div class="menu3Btn"><img src="./images/pc.png">車両管理</div>
				<div class="menu3Btn"><img src="./images/pc.png">ドライバーシフト</div>
			</div>
			<div class="mainMenuItem3">
			</div>
			<div class="mainMenuItem3">
			</div>
		</div><!-- /mainMenuItem2 -->
		<div class="mainMenuItem2">
			<div class="mainMenuItem3">
				<div class="menu3Btn"><img src="./images/pc.png">配車指示確認</div>
				<div class="menu3Btn"><img src="./images/book.png">日報入力</div>
				<div class="menuBlank"></div>
				<br>
				<div class="menu3Btn"><img src="./images/pc.png">在庫管理</div>
			</div>
			<div class="mainMenuItem3">
				<div class="menu3Btn"><img src="./images/book.png">日報リスト</div>
				<div class="menu3Btn"><img src="./images/book.png">日報未入力一覧</div>
				<div class="menu3Btn"><img src="./images/book.png">引取結果確認表</div>
			</div>
			<div class="mainMenuItem3">
			</div>
		</div><!-- /mainMenuItem2 -->
		<div class="mainMenuItem2">
			<div class="mainMenuItem3">
				<div class="menu3Btn"><img src="./images/pc.png">計量データ入力</div>
			</div>
			<div class="mainMenuItem3">
			</div>
			<div class="mainMenuItem3">
			</div>
		</div><!-- /mainMenuItem2 -->
		<div class="mainMenuItem2">
			<div class="mainMenuItem3">
				<div class="menu3Btn"><img src="./images/pc.png">未仕切リスト</div>
				<div class="menu3Btn"><img src="./images/pc.png">仕切入力</div>
			</div>
			<div class="mainMenuItem3">
				<div class="menu3Btn"><img src="./images/book.png">仕切リスト</div>
				<div class="menu3Btn"><img src="./images/book.png">仕切書</div>
				<div class="menu3Btn"><img src="./images/book.png">封筒ラベル</div>
			</div>
			<div class="mainMenuItem3">
				<div class="menu3Btn"><img src="./images/book.png">実計集計表</div>
				<div class="menu3Btn"><img src="./images/book.png">仕切集計表</div>
				<div class="menu3Btn"><img src="./images/book.png">仕切伝票印刷</div>
			</div>
		</div><!-- /mainMenuItem2 -->
		<div class="mainMenuItem2">
			<div class="mainMenuItem3">
				<div class="menu3Btn"><img src="./images/pc.png">現金金庫入力</div>
				<div class="menu3Btn"><img src="./images/pc.png">封筒持出入力</div>
				<div class="menu3Btn"><img src="./images/pc.png">仕入引当入力</div>
			</div>
			<div class="mainMenuItem3">
				<div class="menu3Btn"><img src="./images/book.png">現金金庫リスト</div>
				<div class="menu3Btn"><img src="./images/book.png">封筒持出リスト</div>
				<div class="menu3Btn"><img src="./images/book.png">仕入引当リスト</div>
				<div class="menu3Btn"><img src="./images/book.png">支払一覧表</div>
			</div>
			<div class="mainMenuItem3">
				<div class="menu3Btn"><img src="./images/book.png">現金出納帳</div>
				<div class="menu3Btn"><img src="./images/book.png">支払持出表</div>
				<div class="menu3Btn"><img src="./images/book.png">支払状況確認表</div>
			</div>
		</div><!-- /mainMenuItem2 -->
		<div class="mainMenuItem2">
			<div class="mainMenuItem3">
				<div class="menu3Btn"><img src="./images/pc.png">入出庫入力</div>
			</div>
			<div class="mainMenuItem3">
				<div class="menu3Btn"><img src="./images/book.png">入出庫リスト</div>
				<div class="menu3Btn"><img src="./images/book.png">現場別在庫一覧表</div>
			</div>
			<div class="mainMenuItem3">
			</div>
		</div><!-- /mainMenuItem2 -->
	</div><!-- /mainMenuItem -->
</div><!-- /mainMenu -->