<div class="mainMenu">
    <div class="menuBtns">
        <form method="POST" action="./" id="nextMenuForm">
            <input type="hidden" name="menuTab" value="2">
            <div class="nextMenuBtn" id="nextMenuBtn"><br><img src="./images/left.png"></div>
        </form>
        <div class="menuBtn active"><img src="./images/folder.png"><br>随時業務</div>
        <div class="menuBtn"><img src="./images/folder.png"><br>マスター保守</div>
        <div class="menuBtn"><img src="./images/folder.png"><br>マスター出力</div>
        <div class="menuBtn"><img src="./images/folder.png"><br>現場検索</div>
    </div>

    <div class="menuName">
        <h2 class="menuTitle showTitle1">仕入配車管理システム　随時業務　―　随時業務</h2>
        <h2 class="menuTitle">仕入配車管理システム　マスター保守　―　マスター保守</h2>
        <h2 class="menuTitle">仕入配車管理システム　マスター出力　―　マスター出力</h2>
        <h2 class="menuTitle">仕入配車管理システム　現場検索　―　現場検索</h2>
    </div>
    <!-- /menuName -->

    <div class="mainMenuItem">

        <div class="mainMenuItem1 showTitle2">
            <h3><img src="./images/file2.png">随時業務</h3>
        </div>
        <!-- /mainMenuItem1 -->
        <div class="mainMenuItem1">
            <h3><img src="./images/file2.png">マスター保守</h3>
        </div>
        <!-- /mainMenuItem1 -->
        <div class="mainMenuItem1">
            <h3><img src="./images/file2.png">マスター出力</h3>
        </div>
        <!-- /mainMenuItem1 -->
        <div class="mainMenuItem1">
            <h3><img src="./images/file2.png">現場検索</h3>
        </div>
        <!-- /mainMenuItem1 -->

        <div class="mainMenuItem2 show">
            <div class="mainMenuItem3">
                <div class="menu3Btn"><img src="./images/pc.png">利用環境設定処理</div>
                <div class="menu3Btn"><img src="./images/print.png">出力プリンタ設定処理</div>
                <div class="menu3Btn"><img src="./images/print.png">帳簿印刷設定変更処理</div>
                <div class="menu3Btn"><img src="./images/pc.png">画面色パターン作成</div>
                <div class="menu3Btn"><img src="./images/pc.png">画面色パターン設定</div>
            </div>
            <div class="mainMenuItem3">
                <div class="menu3Btn"><img src="./images/suver.png">配車処理使用状況一括削除</div>
            </div>
            <div class="mainMenuItem3">
                <div class="menu3Btn"><img src="./images/suver.png">年次更新</div>
            </div>
        </div>
        <!-- /mainMenuItem2 -->
        <div class="mainMenuItem2">
            <div class="mainMenuItem3">
                <div class="menu3Btn" name="siireMaster"><img src="./images/pc.png">仕入先マスター保守</div>
                <div class="menu3Btn" name="genbaMaster"><img src="./images/pc.png">現場マスター保守</div>
                <div class="menu3Btn"><img src="./images/pc.png">車両マスター保守</div>
                <div class="menu3Btn"><img src="./images/pc.png">運転者マスター保守</div>
            </div>
            <div class="mainMenuItem3">
                <div class="menu3Btn" name="fieldMaster"><img src="./images/pc.png">方面マスター保守</div>
                <div class="menu3Btn" name="carType"><img src="./images/pc.png">車種マスター保守</div>
                <div class="menu3Btn"><img src="./images/pc.png">パレットマスター保守</div>
                <div class="menu3Btn" name="user"><img src="./images/pc.png">ログインユーザー初期値マスター</div>
                <div class="menu3Btn"><img src="./images/pc.png">支払区分マスター保守</div>
            </div>
            <div class="mainMenuItem3">
                <div class="menu3Btn"><img src="./images/pc.png">営業所マスター保守</div>
                <div class="menu3Btn"><img src="./images/pc.png">現場分類マスター保守</div>
                <div class="menu3Btn"><img src="./images/pc.png">用紙種類マスター保守</div>
                <div class="menu3Btn"><img src="./images/pc.png">品名マスター保守</div>
                <div class="menu3Btn"><img src="./images/pc.png">証明書マスター保守</div>
                <div class="menu3Btn"><img src="./images/pc.png">相場マスター保守</div>
                <div class="menu3Btn"><img src="./images/pc.png">現場別単価マスター保守</div>
            </div>
        </div>
        <!-- /mainMenuItem2 -->
        <div class="mainMenuItem2">
            <div class="mainMenuItem3">
                <div class="menu3Btn" name="output" id="siire"><img src="./images/suver.png">仕入先マスター出力</div>
                <div class="menu3Btn" name="output" id="genba"><img src="./images/suver.png">現場マスター出力</div>
                <div class="menu3Btn" name="output" id="car"><img src="./images/suver.png">車両マスター出力</div>
                <div class="menu3Btn" name="output" id="driver"><img src="./images/suver.png">運転者マスター出力</div>
            </div>
            <div class="mainMenuItem3">
                <div class="menu3Btn" name="output" id="field"><img src="./images/suver.png">方面マスター出力</div>
                <div class="menu3Btn" name="output" id="carType"><img src="./images/suver.png">車種マスター出力</div>
                <div class="menu3Btn" name="output" id="palette"><img src="./images/suver.png">パレットマスター出力</div>
                <div class="menu3Btn" name="output" id="user"><img src="./images/suver.png">ログインユーザー初期値マスター</div>
            </div>
            <div class="mainMenuItem3">
                <div class="menu3Btn" name="output" id="product"><img src="./images/suver.png">品名マスター出力</div>
                <div class="menu3Btn" name="output" id="syomei"><img src="./images/suver.png">証明書マスター出力</div>
                <div class="menu3Btn" name="output" id="market"><img src="./images/suver.png">相場マスター出力</div>
                <div class="menu3Btn" name="output" id="tanka"><img src="./images/suver.png">現場別単価マスター出力</div>
            </div>
        </div>
        <!-- /mainMenuItem2 -->
        <div class="mainMenuItem2">
            <div class="mainMenuItem3">
                <div class="menu3Btn"><img src="./images/book.png">現場検索</div>
            </div>
            <div class="mainMenuItem3">
            </div>
            <div class="mainMenuItem3">
            </div>
        </div>
        <!-- /mainMenuItem2 -->
    </div>
    <!-- /mainMenuItem -->
</div>
<!-- /mainMenu -->