<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link type="text/css" rel="stylesheet" href="./stylesheets/sanitize.css">
    <link type="text/css" rel="stylesheet" href="./stylesheets/style.css">
    <script src="./js/menuBar.js"></script>
    <script src="./js/tabContent.js"></script>
    <script src="./js/checked.js"></script>


</head>

<body class="body">
    <%- include('./header') %>

        <div class="fontSizeS">
            <!-- <div class="flex"> -->

                <div class="block">
                    <h2 class="tabName">作表条件</h2><span></span>

                    <div class="termsContent">
                        <div class="block">

                            <div class="termDottedBox">
                                <div class="termDottedBoxTitle">登録済データの表示</div>
        
                                <label class="termDottedBoxLabel">
                                <input type="radio" id="" name="drone" value="1" class="termDottedBoxRadio" checked>
                                <span class="termDottedBoxText">表示あり</span>
                            </label>
        
                                <label class="termDottedBoxLabel">
                                <input type="radio" id="" name="drone" value="2" class="termDottedBoxRadio">
                                <span class="termDottedBoxText">表示なし(追加モード)</span>
                            </label>
                            </div>
                            <!-- termDottedBox1 end -->
        
                            <div class="blank"></div>
        
                            <div class="termDottedBox">
                                <div class="termDottedBoxTitle">方面コード</div>
                                <table class="tableSet">
                                    <tr>
                                        <td>
                                            <label for="check1" class="checkBox">
                                                <input type="checkbox" name="listAll" id="listAll" value="1" checked="checked"><span>全件</span>
                                        </label>
                                            <input class="input2-3" type="text" id="">
                                            <select>
                                                <option value="0">から</option>
                                                <option value="1">aaaaaaa</option>
                                            </select>
                                            <input class="input2-3" type="text" id="">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- termDottedBox2 end -->

                            <div class="termDottedBox">
                                <div class="termDottedBoxTitle">方面コード</div>
                                <table class="tableSet">
                                    <tr>
                                        <td>
                                            <label for="check1" class="checkBox">
                                                <input type="checkbox" name="listAll" id="listAll" value="1" checked="checked"><span>全件</span>
                                        </label>
                                            <input class="input2-3" type="text" id="">
                                            <select>
                                                <option value="0">から</option>
                                                <option value="1">aaaaaaa</option>
                                            </select>
                                            <input class="input2-3" type="text" id="">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- termDottedBox3 end -->

                            <div class="termDottedBox">
                                <div class="termDottedBoxTitle">方面コード</div>
                                <table class="tableSet">
                                    <tr>
                                        <td>
                                            <label for="check1" class="checkBox">
                                                <input type="checkbox" name="listAll" id="listAll" value="1" checked="checked"><span>全件</span>
                                        </label>
                                            <input class="input2-3" type="text" id="">
                                            <select>
                                                <option value="0">から</option>
                                                <option value="1">aaaaaaa</option>
                                            </select>
                                            <input class="input2-3" type="text" id="">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- termDottedBox4 end -->

                            <div class="termDottedBox">
                                <div class="termDottedBoxTitle">方面コード</div>
                                <table class="tableSet">
                                    <tr>
                                        <td>
                                            <label for="check1" class="checkBox">
                                                <input type="checkbox" name="listAll" id="listAll" value="1" checked="checked"><span>全件</span>
                                        </label>
                                            <input class="input2-3" type="text" id="">
                                            <select>
                                                <option value="0">から</option>
                                                <option value="1">aaaaaaa</option>
                                            </select>
                                            <input class="input2-3" type="text" id="">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- termDottedBox5 end -->

                            <div class="termDottedBox">
                                <div class="termDottedBoxTitle">方面コード</div>
                                <table class="tableSet">
                                    <tr>
                                        <td>
                                            <label for="check1" class="checkBox">
                                                <input type="checkbox" name="listAll" id="listAll" value="1" checked="checked"><span>全件</span>
                                        </label>
                                            <input class="input2-3" type="text" id="">
                                            <select>
                                                <option value="0">から</option>
                                                <option value="1">aaaaaaa</option>
                                            </select>
                                            <input class="input2-3" type="text" id="">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- termDottedBox6 end -->

                            <div class="termDottedBox">
                                <div class="termDottedBoxTitle">方面コード</div>
                                <table class="tableSet">
                                    <tr>
                                        <td>
                                            <label for="check1" class="checkBox">
                                                <input type="checkbox" name="listAll" id="listAll" value="1" checked="checked"><span>全件</span>
                                        </label>
                                            <input class="input2-3" type="text" id="">
                                            <select>
                                                <option value="0">から</option>
                                                <option value="1">aaaaaaa</option>
                                            </select>
                                            <input class="input2-3" type="text" id="">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- termDottedBox7 end -->

                            <div class="termDottedBox">
                                <div class="termDottedBoxTitle">方面コード</div>
                                <table class="tableSet">
                                    <tr>
                                        <td>
                                            <label for="check1" class="checkBox">
                                                <input type="checkbox" name="listAll" id="listAll" value="1" checked="checked"><span>全件</span>
                                        </label>
                                            <input class="input2-3" type="text" id="">
                                            <select>
                                                <option value="0">から</option>
                                                <option value="1">aaaaaaa</option>
                                            </select>
                                            <input class="input2-3" type="text" id="">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- termDottedBox8 end -->


        

                    </div><!-- termsContent -->

                </div><!-- block end -->

            <!-- </div>flex end -->

        </div>

        <%- include('./footer') %>
</body>

</html>